OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_GATEWAY_BIND=lan
OPENCLAW_BRIDGE_PORT=18790
OPENCLAW_TZ=UTC

OPENCLAW_CONFIG_DIR=${HOME}/.openclaw
OPENCLAW_WORKSPACE_DIR=${HOME}/.openclaw/workspace
OPENCLAW_AUTH_PROFILE_SECRET_DIR=${HOME}/.openclaw-auth-profile-secrets
